@tailwind base;
@tailwind components;
@tailwind utilities;

.relative-margin {
    @apply mx-0 md:!mx-8 lg:!mx-16 xl:!mx-32;
}

.relative-padding {
    @apply px-0 md:!px-8 lg:!px-16 xl:!px-32;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}
